* {
  box-sizing: border-box;
}

/* Đặt biến chung để tái sử dụng */
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  /* 1rem = 10 px */
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*======= Common - nhóm dùng chung, thuộc tính áp dụng cho cả trang web =======*/
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}

.btn {
  /* Set display inline-block để có thể thêm padding */
  display: inline-block;
  /* Chiều rộng tối thiểu của nút bấm */
  min-width: 118px;
  /* Dùng padding để khi thêm chữ vào vẫn đảm bảo cách 11px và 16px */
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  /* Từ 24.5 sửa lại thành 999px để bán kính bo lớn hẳn lên */
  border-radius: 999px;
  background: #171100;
}

/* Hiệu ứng khi di chuột vào nút */
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  /* Muốn mỗi bên rộng 24px thì lấy 100% - 48px */
  max-width: calc(100% - 48px);
  /* Tự động căn giữa */
  margin-left: auto;
  margin-right: auto;
}

/* Làm dấu 3 chấm nếu nội dung quá dài */
/* Quá 1 dòng sẽ hiển thị dấu 3 chấm */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Quá 2 dòng sẽ hiện dấu 3 chấm đối với những thẻ có 2 class này */
.line-clamp.line-2 {
  --line-clamp: 2;
}

/* Những nơi nào mà chúng ta nghi ngờ nó sẽ trồi ra gây phá vỡ giao diện */
.break-all {
  word-break: break-all;
}

/* ==================================Header============================= */
.header {
  background: #fffcf4;
}

/* Do chúng là 2 class kề nhau -> tạo thanh cuộn Sticky cho web */
.header.fixed {
  z-index: 1;
  position: sticky;
  /* Lấy 36px - 8px */
  top: -28px;
}

.header .body-header {
  display: flex;
  /* Căn theo trục dọc là cross -> đảm bảo menu được căn giữa theo trục DỌC */
  align-items: center;
  padding: 36px 0 8px;
}

/* Canh khối nav thì nó sẽ kéo theo cả thằng đằng sau */
.nav {
  margin-left: auto;
}

/* Tác động và thẻ cha của nó và gọi tên nó */
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  text-align: center;
  /* Quy đổi font-size từ px sang rem theo quy ước ở trên */
  font-size: 1.6rem;

  /* Vì tổng khoảng cách là 42px nên mỗi phần tử sẽ là 21px để nối với phần tử còn lại */
  /* Dùng padding để tăng phạm vi click -> cải thiện trải nghiệm người dùng */
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */

  text-shadow: 1px 0 0 currentColor;
  /* Ngang(bóng đổ sang PHẢI) - dọc - mờ - màu sắc */
}

/* Tạo dấu gạch chân dưới chữ "H" của Home */
/* Các phần tử li nào có class "active" thì đều có dấu gạch dưới */

.nav li.active a::after {
  position: absolute;
  /* Do các phần tử cách nhau là 21px (phần tử cuối của Home là chữ "H") */
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  /* Do padding của Reviews đã là 21 thì chỉ cần cách left thêm 49 nữa thì là cách 70 như trên dự án Figma */
  margin-left: 49px;
}

/* ======================hero====================== */
.hero {
  /* 64-58px do header đã có padding là 8px nên phải trừ thêm */

  /* Trên - trái phải - dưới đối với 3 đối số */
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body-hero {
  display: flex;
}

/* ============hero left================== */
.hero .media-block {
  position: relative;
  /* Lấy kích thước đầu tiên của box chia cho 1170px (kích thước của main-content web) */
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  /* Chỉ nên set chiều rộng, còn chiều dọc khi thêm item vào thì sẽ tự động giãn khung lên trên */
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  /* Chỉ nên đo padding ở trên dưới và trái, còn bên phải nội dung sẽ tự động dãn ra nếu nhiều */
  padding: 24px;
}

.hero-summary .item {
  display: flex;
  /* Căn giữa các item cho với chữ */
  align-items: center;
}

/* Tác động vào class item nằm đằng sau một class item khác -> item 2, 3 nằm sau item 1 có chung class là item */
.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  /* Vì nó là hình tròn bao quanh icon */
  border-radius: 50%;
  /* Đổi thuộc tính sang flex để có thể căn giữa */
  display: flex;
  /* Vì nó căn giữa hình tròn */
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  /* Đổi 14px sang 1.4rem */
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% => làm tròn thành 186% và chia cho 100 */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  /* Mặc định là 400, do ko phải mặc định nên không bỏ đi */
  font-weight: 600;
  line-height: 1.67; /* 166.667% -> chia cho 100 tương tự như trên */
}

/* ================hero right================= */
.hero .content-block {
  /* Chiều rộng còn lại, vì media đã chiến 42% như trên */
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

/* Set kích thước của nút */
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  /* Trong suốt */
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

/* thẻ strong thứ 2 */
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* ======================popular========================= */
/* Nên thêm padding để có thể dễ dàng thay thế background */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

/* Do thuộc tính display flex nên không thể xoay ngang => ta cần tác động vào phần tử cha */
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

/* Khi người dùng di chuột vào khối hover này */
.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
  width: 100%;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background-color: var(--primary-color);
}

/* =====================feedback======================== */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover; /* Để ảnh không bị méo */
}

.feedback-item .info .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

/* Viết liền active vào dot để thể hiện phần tử nào có đồng thời cả 2 class thì mới thực hiện */
.feedback-item .dot.active {
  background-color: var(--primary-color);
  cursor: default; /* Đang ở trang nào thì sẽ không hiện bàn tay để ấn vào lại nữa */
}

/* Cả phần bên phải của feedback có chiều rộng là 770, lấy 770/1170 (chia cho chiều rộng phần content chung của trang để dùng % cho nhanh */
.feedback-item .content {
  width: 66%; /* 770:1170 = 66% */
  /* Có thể dùng justify-content: space-between; cũng được hoặc ml:auto; cũng được */
  margin-left: auto;
}

.feedback-item blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

/* =======================features 1============================= */
.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}

.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--primary-color);
}

/* =======================features 2============================= */
.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
}

/* ======================= Blogs ============================= */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  /* Trên dưới là 0, trái phải là auto */
  margin: 16px auto 0;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blogs .blog-list {
  overflow: hidden;
  gap: 30px;
  display: flex;
  margin-top: 55px;
}

.blogs .item {
  /* Độ co giãn là 0 */
  flex-shrink: 0;
  /* Chia 3 bước ảnh ra (100% / 3) */
  /* Trừ đi 20px do mỗi bức ảnh bị hụt mất 20px do gap là 30px, 2 khoảng là 60, chia 3 là 20px */
  width: calc(33.33% - 20px);
  border-radius: 16px;
  background: #fff;
}

.blogs .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.blogs .item .info {
  padding: 20px 20px 28px;
}

.blogs .item .date {
  position: relative;
  padding-bottom: 12px;
  display: inline-flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.blogs .item .date::before {
  content: "";
  margin-right: 4px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
}

.blogs .item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
  content: "";
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blogs .item .title {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blogs .item .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blogs .item .btn:hover {
  background: var(--primary-color);
}

.blogs .dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
}

.blogs .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blogs .dot.active {
  background: var(--primary-color);
  cursor: default;
}
