* {
  box-sizing: border-box;
}

html {
  /* 1rem = 10 px */
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common - nhóm dùng chung, thuộc tính áp dụng cho cả trang web */
a {
  text-decoration: none;
}

.btn {
  /* Set display inline-block để có thể thêm padding */
  display: inline-block;
  /* Chiều rộng tối thiểu của nút bấm */
  min-width: 118px;
  /* Dùng padding để khi thêm chữ vào vẫn đảm bảo cách 11px và 16px */
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.main-content {
  width: 1170px;
  /* Muốn mỗi bên rộng 24px thì lấy 100% - 48px */
  max-width: calc(100% - 48px);
  /* Tự động căn giữa */
  margin-left: auto;
  margin-right: auto;
}

/* ==================================Header============================= */
.header {
  background: #fffcf4;
}

/* Do chúng là 2 class kề nhau -> tạo thanh cuộn Sticky cho web */
.header.fixed {
  position: sticky;
  /* Lấy 36px - 8px */
  top: -28px;
}

.header .body-header {
  display: flex;
  /* Căn theo trục dọc là cross -> đảm bảo menu được căn giữa theo trục DỌC */
  align-items: center;
  padding: 36px 0 8px;
}

/* Canh khối nav thì nó sẽ kéo theo cả thằng đằng sau */
.nav {
  margin-left: auto;
}

/* Tác động và thẻ cha của nó và gọi tên nó */
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  text-align: center;
  /* Quy đổi font-size từ px sang rem theo quy ước ở trên */
  font-size: 1.6rem;

  /* Vì tổng khoảng cách là 42px nên mỗi phần tử sẽ là 21px để nối với phần tử còn lại */
  /* Dùng padding để tăng phạm vi click -> cải thiện trải nghiệm người dùng */
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */

  text-shadow: 1px 0 0 currentColor;
  /* Ngang(bóng đổ sang PHẢI) - dọc - mờ - màu sắc */
}

/* Tạo dấu gạch chân dưới chữ "H" của Home */
/* Các phần tử li nào có class "active" thì đều có dấu gạch dưới */

.nav li.active a::after {
  position: absolute;
  /* Do các phần tử cách nhau là 21px (phần tử cuối của Home là chữ "H") */
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
    /* Do padding của Reviews đã là 21 thì chỉ cần cách left thêm 49 nữa thì là cách 70 như trên dự án Figma */
  margin-left: 49px;
}
